/* Rail site styles */

 .container {
    width: 600px;
    padding: 25px;
    margin: auto;
 }

 .lines {
    list-style-type: none;
    padding: 0;
 }

.lines h3 {
    padding-top: 5px;    
    margin-bottom: 10px;
}

 .lines img {
    width: 30px;
    height: 30px;
    float: left;
 }


 footer {
    border-top: 1px dotted #ccc;
    padding: 0 10px;
 }