{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container">
        
        <h1>Where's my closest Metro Rail Station?</h1>

        <p>A handy way to find your closest rail station.</p>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="user-location" class="usa-button">Locate Me</button>
        <p id="user-location-status"></p>
        <a id="map-link" target="_blank"></a>

        <h2>List of LA Metro Rail Lines</h2>

        <ul class="lines">
            {% for line in lines %}
            <li>
                <a href="{{ line.pdf_file_url }}" target="_blank">
                <img src="{{ line.iconography_url }}" />
                <h3>{{ line.route_code }}</h3>
                <p>{{ line.description }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
