{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="grid-container">

    <h1>Where's my closest Metro Rail Station?</h1>

    <p>A handy way to find your closest rail station.</p>

    <div class="user-locator">

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="user-location" class="usa-button">Locate Me</button>
        <div class="user-location-status"></div>
        <div class="user-location-info">
            <p>
                Your closest station is the <span class="user-location-station"></span>, serving the <span
                    class="user-location-line"></span>.
            </p>
            <u>Next departures from station:</u>
            <ul class="user-stop-times">
            </ul>
        </div>

    </div>

    <h2>List of LA Metro Rail Lines</h2>

    <ul class="lines">
        {% for line in lines %}
        <li>
            <a href="{{ line.pdf_file_url }}" target="_blank">
                <img src="{{ line.iconography_url }}"
                    alt="Los Angeles Metro Rail Line icon for {{ line.route_code }} - {{ line.description }}" />
                <h3>{{ line.route_code }}</h3>
                <p>{{ line.description }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}