{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container">
        
        <h1>Where's my closest Metro Rail Station?</h1>

        <p>A handy way to find your closest rail station.</p>

        <button>Locate my station</button>

        <h2>List of LA Metro Rail Stations</h2>

        <ul>
            <li>A Line</li>
            <li>B Line</li>
            <li>C Line</li>
            <li>D Line</li>
            <li>E Line</li>
            <li>K Line</li>
        </ul>

    </div>


{% endblock %}
